@charset "UTF-8";
:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --hero-bottom-color: #2F303A;
  --top-color: #FFFFFF;
  --text-color: #212121;
  --text-logo-black: #000000;
  --navigation-contacts-color: #757575;
  --address-list-mail-color: rgba(255, 255, 255, 0.6);
  --our-team-background-color: #F5F4FA;
  --header-bottom-line: #ECECEC;
  --portfolio-border-line: #EEEEEE;
  --our-advantages-bg-color: #F5F4FA;
  --hero-bg-color: #C4C4C4;
  --hero-overlay-color: rgba(47, 48, 58, 0.4);
  --our-client-border-color: #AFB1B8;
  --social-icon-bg-color: rgba(255, 255, 255, 0.1);
  --overlay-background: rgba(33, 150, 243, 0.9);
  --label-bg-color: rgba(47, 48, 58, 0.8);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation__list,
.navigation-contacts,
.filter-list,
.examples-list,
.address-list,
.our-advantages__list,
.our-occupation__list,
.our-team__list,
.soc-icons-section__list,
.mobile-menu__list,
.mobile-menu__contacts,
.mobile-menu__social-list {
  list-style: none;
}

.logo-link-nav,
.navigation__list-link,
.navigation-contacts__mail,
.navigation-contacts__phone,
.mobile-menu__link,
.mobile-menu__social-link,
.mob-men-tel,
.mob-men-mail,
.logo-link-bottom,
.address-list__address-link,
.address-list__mail,
.address-list__phone,
.examples-list__link {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

body {
  font-family: var(--primary-font);
  color: var(--top-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 450px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 738px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
/* .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
} */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-btn {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: var(--top-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
}

.social-icons-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.social-icons-list__item {
  display: flex;
  width: 44px;
  height: 44px;
}

.social-icons-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--top-color);
  border-radius: 50%;
  /*  Задаём значения перехода  */
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}
.social-icons-list__link:hover, .social-icons-list__link:focus {
  background-color: var(--accent-color);
}

.soc-med-icon {
  fill: var(--our-client-border-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons-list__link:hover .soc-med-icon, .social-icons-list__link:focus .soc-med-icon {
  fill: var(--top-color);
}

.social-icons-list__item {
  margin-right: 10px;
}
.social-icons-list__item:last-child {
  margin-right: 0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  transition: opacity 500ms linear, visibility 500ms linear;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  display: block;
  justify-content: center;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #FFFFFF;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 9px;
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover .modal__close-btn-icon, .modal__close-btn:focus .modal__close-btn-icon {
  fill: var(--accent-color);
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.contact-form__title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  color: #212121;
}

.contact-form__field {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.contact-form__field-title {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.contact-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 40px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form__input-wrapper {
  position: relative;
}

.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: block;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__input:focus + .contact-form__icon {
  fill: var(--accent-color);
}

.textarea {
  /*display: flex;*/
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}
.textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__checkbox-agreement-line {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}
.modal__checkbox-input:checked + .modal__checkbox-agreement-line {
  background-position: center;
  background-color: var(--accent-color);
}
.modal__checkbox-input:checked + .modal__checkbox-agreement-line {
  border: none;
}

.modal__checkbox-icon {
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
}

.icon-white-mark {
  width: 1.2998046875em;
}

.contact-form-checkbox {
  display: flex;
  position: relative;
  margin-bottom: 30px;
}

.modal__checkbox-input {
  position: absolute;
  width: 16px;
  height: 15px;
}

.modal__checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 30px;
  margin-left: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__submit-btn {
  min-width: 200px;
  align-self: center;
  height: 50px;
  cursor: pointer;
  color: #FFFFFF;
  border: transparent;
  background: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.logo-link-nav {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

/* .logo-link-nav,
.logo-link-bottom {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.our-advantages__main-title,
.our-occupation__main-title,
.our-team__main-title,
.our-clients {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
} */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opasity 500ms linear, visibility 500ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding-top: 48px;
  padding-bottom: 48px;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: #2196F3;
}

.mobile-menu__list,
.mobile-menu__contacts,
.mobile-menu__social-list {
  margin-left: 10px;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 300px;
}

.mobile-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 30px;
}

.mobile-menu__contacts {
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.mobile-menu__phone {
  margin-bottom: 32px;
}

.mob-men-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mob-men-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu__social-list {
  display: flex;
}

.mobile-menu__social-item:not(:last-child) {
  margin-right: 20px;
}

.mobile-menu__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196F3;
}

.navigation__list {
  display: none;
}

.navigation-contacts {
  display: none;
}

.page-header {
  padding-top: 10px;
  padding-bottom: 10px;
  /*background-color: aquamarine;*/
}

.page-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu-open-btn {
  border: none;
  background-color: transparent;
  margin-right: -5px;
  padding: 0;
  line-height: 0;
}

.mobile-menu-open-btn__icon:hover,
.mobile-menu-open-btn__icon:focus {
  fill: var(--accent-color);
}

.logo-black {
  color: var(--text-logo-black);
}

/* 
.page-header {
    background: var(--top-color);

    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--header-bottom-line);
}

.up,
.navigation,
.navigation__list,
.navigation-contacts,
.navigation-contacts__item,
.navigation-contacts__mail,
.navigation-contacts__phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navigation__list {
    margin-left: 90px;
}

.navigation__list-item:not(:last-child) {
    margin-right: 50px;
}

.navigation-contacts {
    margin-left: auto;
}

.navigation-contacts__item:not(:last-child) {
    margin-right: 30px;
}



.navigation__list-item {
    position: relative;
    padding-top: 32px;
    height: 80px;
}
 */
/*--подчеркивание текущей страницы--*/
/* .current::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    padding-bottom: 0px;
    bottom: -2px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}

.navigation__list-link,
.navigation-contacts__mail,
.navigation-contacts__phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--text-color);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
} */
/* электронка и телефон фирмы в шапке */
/* 
.navigation-contacts__mail,
.navigation-contacts__phone {
    height: 16px;
    color: var(--navigation-contacts-color);
}

.envelope-icon,
.mobile-icon {
    fill: var(--navigation-contacts-color);
    height: 16px;
    margin-right: 10px;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0;
}
 */
/* При ховере меняем значения анимируемых свойств */
/* .navigation__list-link:hover,
.navigation__list-link:focus {
    color: var(--accent-color);
}

.navigation-contacts__mail:focus .envelope-icon,
.navigation-contacts__mail:hover .envelope-icon {
    fill: var(--accent-color);
}

.navigation-contacts__mail:focus,
.navigation-contacts__mail:hover {
    color: var(--accent-color);
}

.navigation-contacts__phone:hover .mobile-icon,
.navigation-contacts__phone:focus .mobile-icon {
    fill: var(--accent-color);
}

.navigation-contacts__phone:hover,
.navigation-contacts__phone:focus {
    color: var(--accent-color);
}
 */
.down {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.bottom-left-side {
  margin-right: 70px;
}

.logo-white {
  color: var(--top-color);
}

/* адрес в подвале страницы */
.address {
  margin-top: 20px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 10px;
}

.address-list__address-link {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--top-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__address-link:hover, .address-list__address-link:focus {
  color: var(--accent-color);
}

/* цвет почты и номера телефона в подвале */
.address-list__mail,
.address-list__phone {
  font-size: 14px;
  line-height: 1.7;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--address-list-mail-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-list__mail:hover, .address-list__mail:focus,
.address-list__phone:hover,
.address-list__phone:focus {
  color: var(--accent-color);
}

/* фоновый цвет подвала */
.bottom {
  background: var(--hero-bottom-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

/* раздел с иконками соцсетей */
.soc-icons-section {
  display: flex;
  flex-direction: column;
  padding-top: 12px;
}

.soc-icons-section__list {
  display: flex;
}

.soc-icons-section__title {
  display: flex;
  color: var(--top-color);
  margin-bottom: 20px;
}

.soc-icons-section__icons {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.soc-icons-section__icons:last-child {
  margin-right: 0px;
}

.soc-icons-section__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--social-icon-bg-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-icons-section__link:hover, .soc-icons-section__link:focus {
  background-color: var(--accent-color);
}

.soc-med-icon-bottom {
  fill: var(--top-color);
}

.bottom-right-side {
  display: flex;
  margin-right: auto;
}

/*-- секция подписки --*/
.subscription-section {
  padding-left: auto;
}

.subscription-section-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.subscription-section-form__title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.email-wrapper {
  display: flex;
}

.subscription-section-form__input {
  width: 358px;
  height: 50px;
  margin-right: 10px;
  padding: 15px;
  color: #FFFFFF;
  background-color: var(--hero-bottom-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.subscription-section-form__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 28px;
  padding-right: 28px;
  border: transparent;
}

.hero {
  background-size: auto auto;
  max-width: 1600px;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(var(--hero-overlay-color), var(--hero-overlay-color)), url("../images/img-hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  /*background: rgba(47, 48, 58, 0.4);*/
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--top-color);
}

.filter-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list__item {
  border: transparent;
}
.filter-list__item:not(:last-child) {
  margin-right: 10px;
}

.filter-list__btn {
  border: transparent;
  min-width: 75px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--our-team-background-color);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  color: var(--text-color);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-list__btn:hover, .filter-list__btn:focus {
  background: var(--accent-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  /*border-radius: 4px;*/
  color: var(--top-color);
}

.our-advantages__list {
  display: flex;
}

.our-advantages__item {
  align-items: flex-start;
}
.our-advantages__item:not(:last-child) {
  margin-right: 30px;
}

.our-advantages__title,
.bottom-social-icon-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.our-advantages__title {
  margin-bottom: 10px;
  color: var(--text-color);
}

.our-advantages__text {
  width: 270px;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */
  letter-spacing: 0.03em;
  color: var(--navigation-contacts-color);
}

.our-advantages__item-area {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: 270px;
  background-color: var(--our-advantages-bg-color);
}

.our-occupation {
  padding-top: 0px;
}

.our-occupation__list,
.our-team__list {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.our-occupation__item:not(:last-child) {
  margin-right: 30px;
}

.our-occupation__thumb {
  position: relative;
}

.our-occupation__thumb > .our-occupation__label {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;
  bottom: 0;
  right: 0;
  margin: 0;
  border-bottom-left-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background-color: var(--label-bg-color);
  color: var(--top-color);
}

.our-team {
  background: var(--our-team-background-color);
}

.our-team__item {
  background: var(--top-color);
  /* material shadow v1 */
  /*box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 2px 1px rgba(0, 0, 0, 0.2);*/
  border-radius: 0px 0px 4px 4px;
}
.our-team__item:not(:last-child) {
  margin-right: 30px;
}

.our-team__text-block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.our-team__text-block-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

.our-team__text-block-text {
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--navigation-contacts-color);
}

.our-clients {
  margin-bottom: 50px;
}

.our-clients-list {
  display: flex;
}

.our-clients-list__item {
  width: 170px;
  height: 92px;
}
.our-clients-list__item:not(:last-child) {
  margin-right: 30px;
}

.our-clients-list__icon {
  width: 106px;
  height: 60px;
  fill: var(--our-client-border-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-list__link:hover .our-clients-list__icon, .our-clients-list__link:focus .our-clients-list__icon {
  fill: var(--accent-color);
}

.our-clients-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--our-client-border-color);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients-list__link:hover, .our-clients-list__link:focus {
  border-color: var(--accent-color);
}

.examples-list {
  display: flex;
  flex-wrap: wrap;
}

.examples-list__title {
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--text-color);
}

.examples-list__type {
  font-size: 16px;
  line-height: 1.88;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: var(--navigation-contacts-color);
}

.examples-list__item {
  display: flex;
  background: var(--top-color);
}
.examples-list__item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}
.examples-list__item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.item-up-part {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--overlay-background);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  padding: 64px 24px;
  color: var(--top-color);
  overflow: auto;
}
.examples-list__link:hover .overlay, .examples-list__link:focus .overlay {
  transform: translateY(0);
}

.examples-list__link {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.examples-list__link:hover, .examples-list__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.item-down-part {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--portfolio-border-line);
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--portfolio-border-line);
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--portfolio-border-line);
}/*# sourceMappingURL=main.css.map */