.logo-link-nav {
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}
.our-advantages__main-title,
.our-occupation__main-title,
.our-team__main-title,
.our-clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--text-color);
}