:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --accent-color: #2196f3;
    --hero-bottom-color: #2F303A;
    --top-color: #FFFFFF;
    --text-color: #212121;
    --text-logo-black: #000000;
    --navigation-contacts-color: #757575;
    --address-list-mail-color: rgba(255, 255, 255, 0.6);
    --our-team-background-color: #F5F4FA;
    --header-bottom-line: #ECECEC;
    --portfolio-border-line: #EEEEEE;
    --our-advantages-bg-color: #F5F4FA;
    --hero-bg-color: #C4C4C4;
    --hero-overlay-color: rgba(47, 48, 58, 0.4);
    --our-client-border-color: #AFB1B8;
    --social-icon-bg-color: rgba(255, 255, 255, 0.1);
    --overlay-background: rgba(33, 150, 243, 0.9);
    --label-bg-color: rgba(47, 48, 58, 0.8);
}